body {
    background-image: url('../img/backgroud.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    color: #333;
    flex: 1;
}

.contact-info, .contact-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    width: 45%; /* Mantém o tamanho da tela conforme o original */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.contact-details h3, .contact-form h2 {
    margin-bottom: 15px; /* Ajuste para mais espaço abaixo dos títulos */
    font-size: 18px; /* Tamanho da fonte padronizado */
    color: #444;
}

.contact-details p, .input-wrapper {
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}

.input-wrapper label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-wrapper input, .input-wrapper textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Estilos do Rodapé */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-info, .contact-form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .contact-info, .contact-form {
        padding: 15px;
    }

    button {
        padding: 12px 20px;
    }
}
