body {
    background-image: url(../img/backgroud.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.card {
    width: 500px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.card form {
    margin-top: 20px;
}

.card .input-wrapper {
    margin-bottom: 15px;
    text-align: left;
}

.card .input-wrapper span {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.card input[type="email"],
.card input[type="password"],
.card input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.card .password-input-group {
    display: flex;
    justify-content: space-between;
}

.card .password-input {
    width: calc(50% - 10px);
    position: relative;
}

.card .toggle-password {
    display: block;
    text-align: right;
    cursor: pointer;
    color: #007bff;
    font-size: 12px;
    margin-top: 5px;
}

.card .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.card button {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: rgb(90, 90, 231);
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}


#resetCodeArea {
    display: none;
    /* Inicialmente oculto */
}

#resetCodeArea.active {
    display: block;
    /* Mostra quando ativado */
    margin-top: 20px;
    /* Espaço acima */
    border-top: 1px solid #ccc;
    /* Linha superior */
    padding-top: 20px;
    /* Espaçamento interno superior */
}

#resetCodeArea form {
    margin-top: 20px;
    /* Espaço entre o formulário e a mensagem de sucesso */
}

#resetSuccessMessage {
    display: none;
    /* Inicialmente oculto */
    margin-top: 20px;
    /* Espaço acima */
    text-align: center;
    /* Centralizar o texto */
}

#resetSuccessMessage p {
    font-size: 18px;
    /* Tamanho da fonte do texto de sucesso */
    color: #008000;
    /* Cor verde para sucesso */
}

#resetSuccessMessage button {
    display: block;
    /* Botão de bloco para ocupar a largura do contêiner */
    width: 100%;
    /* Largura total */
    padding: 10px 0;
    /* Preenchimento vertical */
    margin-top: 10px;
    /* Espaço acima */
    background-color: #4CAF50;
    /* Cor de fundo verde */
    color: white;
    /* Cor do texto branco */
    border: none;
    /* Sem borda */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor apontador */
}

#resetSuccessMessage button:hover {
    background-color: #45a049;
    /* Cor de fundo mais escura no hover */
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}