* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 90, 231);
    padding: 0 20px;
    height: 60px;
    position: fixed; /* Mantém a navbar fixa no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que a navbar fique sobre o conteúdo */
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links li {
    margin: 0 5px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.logo img {
    height: 50px;
    width: auto;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(90, 90, 231);
    }

    .nav-links li {
        text-align: center;
        margin: 15px 0;
    }

    .burger {
        display: flex;
    }

    .nav-links.nav-active {
        display: flex;
    }
}

main {
    margin-top: 60px; /* Adiciona espaço suficiente para não ficar atrás da navbar */
}
