* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.logo img {
    height: 40px;
    width: auto;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links li {
        text-align: center;
        margin: 15px 0;
    }

    .burger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}