body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: none;
}

.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 50px;
    width: auto;
}