body{
    background-image: url(backgroud.jpeg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card {
    width: 400px;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    }
    
.card img {
            display: block;
            margin: 0 auto 20px;
        }

.card input[type="code"],
.card input[type="mail"],
.card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    }

.card .login-link[type="cad"],  
.card .login-link {
    width: 90%;
    display: block;
    padding: 20px;
    border: none;
    border-radius: 100px;
    background-color: #007bff;
    color: #fff;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    }

.card .login-link[type="cad"] {
    display: inline-block;
    width: 39%; 
    }

.card .login-link:hover {
    background-color: #0056b3;
    }

.link {
    color: inherit;
    text-decoration: none; 
    }